<!DOCTYPE html>
<html>
	<head>
		<meta name="theme-color" content="#ff0000">
		<link rel="alternate" type="application/json+oembed" href="https://roll.kestron.software/embJson?a=<%= 
a %>" title="Rick Astley - Never Gonna Give You Up (Official Music Video)">
		<title>Rick Astley - Never Gonna Give You Up (Official Music Video) - YouTube</title>
		<meta name="title" content="<%= t %>">
		<link rel="image_src" href="<%= u %>">
		<meta property="og:site_name" content="YouTube">
		<meta property="og:url" content="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
		<meta property="og:title" content="<%= t %>">
		<meta property="og:image" content="<%= u %>">
		<meta property="og:image:width" content="1280">
		<meta property="og:image:height" content="720">
		<meta property="og:type" content="video.other">
		<meta property="og:video:url" content="https://www.youtube.com/embed/dQw4w9WgXcQ">
		<meta property="og:video:secure_url" content="https://www.youtube.com/embed/dQw4w9WgXcQ">
		<meta property="og:video:type" content="text/html">
		<meta property="og:video:width" content="1280">
		<meta property="og:video:height" content="720">
		</head>
	<body>
		<video width="100%" autoplay muted><source src="https://stewbot.kestron.software/roll.mp4" type="video/mp4" id="roll"></video>
	</body>
</html>